﻿<!DOCTYPE html>
<html ng-controller="appCtrl">
<head>
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="css/style.css" />
	<meta charset="utf-8" />
</head>
<body>
    <a ui-sref="header">Header</a>
    <ui-view></ui-view>
    <script language="JavaScript" src="bower_components/requirejs/require.js" data-main="index.js"></script>    
</body>
</html>
